<!-- // (c) IGOR KOWALCZYK. All rights reserved. \\ -->
<!DOCTYPE html>
<html lang="en">
<head>
<title>Fest.css - Documentation</title>
{% include head.html %}
<!-- BODY -->
<body ondragstart="return false" ondrag="return false">
<script type="text/javascript">/* PRELOADER */ var preload = document.createElement('div'); preload.className = "preloader-site"; preload.innerHTML = '</div><div class="spinner-site"></div>'; document.body.appendChild(preload); window.addEventListener('load', function() { preload.className += ' fade'; setTimeout(function(){ preload.style.display = 'none'; },500); }) /* /PRELOADER */</script>
<noscript><div class="no-javascript"><span class="no-javascript-message"></span></div></noscript>
<!-- NAV -->
<div class="grid-container">
<div class="menu-icon">
<i class="fas fa-bars header-menu"></i>
</div>
<span class="header">
Fest.css
</span>
<div class="sidenav">
<div class="sidenav-close-icon">
<i class="fas fa-times sidenav-brand-close"></i>
</div>
<ul class="sidenav-list">
<a href="https://igorkowalczyk.github.io/fest" class="link-fade ripple ripple-effect link-nav">Fest.css</a>
<a href="/fest/start" class="link-fade ripple ripple-effect link-nav">Get Started</a>
<ul class="accordion" id="accordion">
<li class="accordion-list">
<div class="link"><span class="link-title ripple ripple-effect">CSS <i class="fa fa-chevron-down ripple ripple-effect radius-5px"></i></span></div>
<ul class="submenu">
<li><a href="/fest/grid" class="link-fade ripple ripple-effect">Grid</a></li>
<li><a href="/fest/tables" class="link-fade ripple ripple-effect">Tables</a></li>
<li><a href="/fest/color" class="link-fade ripple ripple-effect">Color</a></li>
<li><a href="/fest/shadow" class="link-fade ripple ripple-effect">Shadow</a></li>
<li><a href="/fest/pulse" class="link-fade ripple ripple-effect">Pulse</a></li>
<li><a href="/fest/typography" class="link-fade ripple ripple-effect">Typography</a></li>
<li><a href="/fest/tooltip" class="link-fade ripple ripple-effect">Tooltip</a></li>
<li><a href="/fest/ripple" class="link-fade ripple ripple-effect">Ripple</a></li>
<li><a href="/fest/buttons" class="link-fade ripple ripple-effect">Buttons</a></li>
<li><a href="/fest/parallax" class="link-fade ripple ripple-effect">Parallax</a></li>
<li><a href="/fest/preloader" class="link-fade ripple ripple-effect">Preloader</a></li>
<li><a href="/fest/helpers" class="link-fade ripple ripple-effect">Helpers</a></li>
<li><a href="/fest/cards" class="link-fade ripple ripple-effect">Cards</a></li>
</ul>
</li>
<li class="accordion-list">
<div class="link"><span class="link-title ripple ripple-effect">JS <i class="fa fa-chevron-down ripple ripple-effect radius-5px"></i></span></div>
<ul class="submenu">
<li><a href="/fest/gallery" class="link-fade ripple ripple-effect">Gallery</a></li>
<li><a href="/fest/nav" class="link-fade ripple ripple-effect">Nav</a></li>
<li><a href="/fest/modal" class="link-fade ripple ripple-effect">Modal</a></li>
<li><a href="/fest/carousel" class="link-fade ripple ripple-effect">Carousel</a></li>
<li><a href="/fest/dropdown" class="link-fade ripple ripple-effect">Dropdown</a></li>
<li><a href="/fest/toast" class="link-fade ripple ripple-effect">Toast</a></li>
</ul>
</li>
<li class="accordion-list submenu-last">
<div class="link"><span class="link-title ripple ripple-effect">Forms <i class="fa fa-chevron-down ripple ripple-effect radius-5px"></i></span></div>
<ul class="submenu">
<li><a href="/fest/select" class="link-fade ripple ripple-effect">Select</a></li>
<li><a href="/fest/inputs" class="link-fade ripple ripple-effect">Text Inputs</a></li>
<li><a href="/fest/radio" class="link-fade ripple ripple-effect">Radio Buttons</a></li>
<li><a href="/fest/checkboxes" class="link-fade ripple ripple-effect">Checkboxes</a></li>
<li><a href="/fest/pickers" class="link-fade ripple ripple-effect">Pickers</a></li>
<li><a href="/fest/switches" class="link-fade ripple ripple-effect">Switches</a></li>
<li><a href="/fest/range" class="link-fade ripple ripple-effect">Range</a></li>
</ul>
</li>
</ul>
</ul></div>
<div id="particles">
<div class="main">
<!-- /NAV -->
<!-- HEADING -->
<br>
<span class="logo">Fest<span class="logo logo-css">.css</span></span><br>
<span class="h">A modern, free, simple, responsive framework based on CSS and JS</span><br>
<span class="h1"><a href="/start" class="link-fade">
<button class="btn-big ripple ripple-effect">
Get Started</button></a>
<a href="https://github.com/igorkowalczyk/fest/blob/master/lib/files/upgrade.md" target="blank">
<button class="btn-big  button-novisible-260 ripple ripple-effect">
Upgrade From 0.0.1</button></a></span>
<div class="align-center"><a href="https://github.com/igorkowalczyk/fest" target="blank">
<button class="btn-big button-novisible-260 ripple ripple-effect">
<i class="fab fa-github"></i> Github</button></a></div>
<br>
<span class="h2"><a target="blank" href="https://github.com/igorkowalczyk/fest/releases">Version: v0.0.2</a></span>
<br></div><div class="main">
<hr />
<br>
<div id="commit" class="shadow-2dp">
<ul>
<li v-for="record in commits" class="li">
Latest Github commit: <a :href="record.html_url" target="blank" class="commit">{{record.sha.slice(0, 100)}}</a><br>
{{record.formattedDateDelta}}
</li>
</ul>
</div>
<br>
<hr />
<br>
<!-- /HEADING -->
<!-- CARDS -->
<div class="align-center"><div class="col-sm-12"><div class="row">
<div class="column-cards first">
<div class="card-index card-hover">
<p><i class="fas fa-pen icon"></i></p><br>
<span class="card-logo">Modern</span><br><br>
<p>Our entire project is modern, we use Material Design</p>
<br>
</div>
</div>
<div class="column-cards">
<div class="card-index card-hover">
<p><i class="fas fa-bolt icon"></i></p><br>
<span class="card-logo">Fast</span><br><br>
<p>Our framework doesn't slowing page loading</p>
</div>
</div>
<div class="column-cards">
<div class="card-index card-hover">
<p><i class="fas fa-arrows-alt-h icon"></i></p><br>
<span class="card-logo">Responsive</span><br><br>
<p>Our project adapts perfectly to the screen resolution.</p>
</div>
</div>
<div class="column-cards">
<div class="card-index card-hover">
<p><i class="far fa-thumbs-up icon"></i></p><br>
<span class="card-logo">Free</span><br><br>
<p>You will not pay anything for using our project.</p>
</div></div></div></div></div>
<br>
<hr />
<br>
<!-- /CARDS -->
<header>
<h1>Demo</h1></header>
<br>
<span class="h">See the example from the code.</span>
<br>
<div class="align-center">
<pre><code class="language-markup">&lt;!-- BUTTON --&gt;
&lt;button class="btn-big ripple ripple-effect"&gt;
BUTTON&lt;/button&gt;
&lt;!-- /BUTTON --&gt;
</code></pre></div>
<span class="h1"><i class="fa fa-arrow-down"></i></span>
<br>
<div class="align-center">
<button class="btn-big ripple ripple-effect">
BUTTON</button></div>
<br><br>
<hr />
<br>
<header>
<h1>Made with <i class="fa fa-heart heartbeat text-red-500"></i> in <span data-tooltip="52&#186; 12' 57.359' N&#xa;19&#186; 8' 3.919' E" data-tooltip-aqua>Poland</span></h1></header>
<br>
<div class="align-center">
<div class="poland-img">
<img src="https://igorkowalczyk.github.io/fest/lib/pics/world-map.svg" alt="Your browser does not support SVG">
</div></div>
<br>
<br>
<hr />
<br>
<br>
<!-- FOOTER -->
<span class="h1 footerbtn"><a href="https://patreon.com/fest_css" target="blank"><button class="btn-medium ripple ripple-effect">support us</button></a>&nbsp;<a href="https://github.com/igorkowalczyk/fest" target="blank"><button class="btn-medium ripple ripple-effect">star</button></a></span>
<footer class="footer">Copyright (c) <a href="https://igorkowalczyk.github.io/fest" class="link-fade">Fest.css</a> <span class="date-footer">2018</span><script type="text/javascript">document.write(new Date().getFullYear());</script>. All rights reserved. <span class="footerlicense"><a href="/fest/lib/license" class="link-fade">MIT License</a></span></footer>
<!-- /FOOTER -->
</div></div></div>
<!-- /JS FILES -->
<script src="https://igorkowalczyk.github.io/fest/lib/particlesjs/particles.min.js"></script>
<script src="https://igorkowalczyk.github.io/fest/download/jquery.min.js"></script>
<script src="https://igorkowalczyk.github.io/fest/lib/vue/vue.js"></script>
<script src="https://igorkowalczyk.github.io/fest/lib/moment/moment.js"></script>
<script src="https://igorkowalczyk.github.io/fest/lib/js/index.js" defer></script>
<script src="https://igorkowalczyk.github.io/fest/lib/js/index-config.js" defer></script>
<script src="https://igorkowalczyk.github.io/fest/download/fest.js"></script>
<script src="https://igorkowalczyk.github.io/fest/lib/prism/prism.min.js"></script>
<!-- /JS FILES -->
</body>
</html>
<!-- /BODY -->
